.hero {
    background-color: #000000;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }
  
  .hero-content {
    max-width: 800px;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .hero-subtitle {
    font-size: 1.2rem;
    color: #cccccc;
    margin-bottom: 2rem;
  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .btn-primary {
    background-color: white;
    color: black;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 50px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #dddddd;
  }
  
  .btn-secondary {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-secondary:hover {
    background-color: white;
    color: black;
  }

 