*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
  }
body {
font-family: 'Inter', sans-serif;
background-color: black;
}
.below-section{
  display: flex;
  justify-content: center;
  background-color: black;
}