.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 75px;
    color: white;
    padding: 0rem 0.8rem;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .nav-btn{
    display: flex;
    font-weight: 700;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
  }

  .nav-logo {
    font-size: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  .try-now-btn {
    background-color: white;
    color: black;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 50px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .try-now-btn:hover {
    background-color: #dddddd; /* Tailwind's green-600 */
    transform: scale(1.0);
  }
  
  